input[type="date"].input {
  appearance: none;
  min-height: 45px; /* Ajuste conforme seu login */
}
/* Força o label a ficar no topo para campos de data */
input[type="date"].input + label {
  transform: translateY(-1.5rem) scale(0.85);
  color: var(--primary-color);
}
