<!-- register.component.html -->
<div class="form-container">
  <h2 class="mb-2">Cadastrar</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="role-selector-container">
      <label class="role-title">
        Perfil selecionado:
        <span class="role-badge" [class.vendedor]="userRole === 'SELLER'">
          @if (userRole === 'SELLER') {
            Vendedor
          }@else {
            Cliente
          }
        </span>
      </label>
      <div class="fader-track" (click)="toggleRole()">
        <div class="role-labels">
          <span [class.active]="userRole === 'CLIENT'">Cliente</span>
          <span [class.active]="userRole === 'SELLER'">Vendedor</span>
        </div>
        <div class="fader-thumb" [class.is-vendedor]="userRole === 'SELLER'">
          <i
            class="bi"
            [class.bi-person]="userRole === 'CLIENT'"
            [class.bi-briefcase]="userRole === 'SELLER'"
          ></i>
        </div>
      </div>
    </div>
    <div class="input-container">
      <input
        type="text"
        id="name"
        class="input"
        placeholder="John Doe"
        formControlName="name"
        [class.error]="isFieldInvalid('name')"
      />
      <label for="name">Nome</label>
      @if (registerForm.get('name')?.touched && registerForm.get('name')?.invalid) {
        <small class="error-message">O nome é obrigatório (mín. 3 caracteres)</small>
      }
    </div>
    <div class="input-container">
      <input
        type="text"
        id="email"
        class="input"
        placeholder="exemplo@empresa.com"
        formControlName="email"
        [class.error]="isFieldInvalid('email')"
      />
      <label for="email">E-mail</label>
      @if (registerForm.get('email')?.touched && registerForm.get('email')?.invalid) {
        <small class="error-message">Insira um e-mail válido</small>
      }
    </div>
    <div class="input-container">
      <input
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        class="input"
        placeholder="********"
        formControlName="password"
        [class.error]="isFieldInvalid('password')"
      />
      <label for="password">Senha</label>
      <button
        type="button"
        class="input-action-btn"
        (click)="showPassword = !showPassword"
      >
        <i
          class="bi"
          [class.bi-eye]="!showPassword"
          [class.bi-eye-slash]="showPassword"
        ></i>
      </button>
      @if (registerForm.get('password')?.touched && registerForm.get('password')?.invalid) {
        <small class="error-message">Mínimo de 8 caracteres</small>
      }
    </div>
    <div class="input-container">
      <input
        [type]="showPasswordConfim ? 'text' : 'password'"
        id="confirmPassword"
        class="input"
        placeholder="********"
        formControlName="confirmPassword"
        [class.error]="isFieldInvalid('confirmPassword')"
      />
      <label for="confirmPassword">Confirme a senha</label>
      <button
        type="button"
        class="input-action-btn"
        (click)="showPasswordConfim = !showPasswordConfim"
      >
        <i
          class="bi"
          [class.bi-eye]="!showPasswordConfim"
          [class.bi-eye-slash]="showPasswordConfim"
        ></i>
      </button>
      @if (registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched) {
        <small class="error-message">As senhas não coincidem</small>
      }
    </div>
    <div class="form-actions mt-4">
      <button
        type="submit"
        class="btn btn-primary w-100 py-3 fw-bold"
        [disabled]="registerForm.invalid">
        Finalizar Cadastro
      </button>
    </div>
  </form>
</div>
