<div class="sidebar" [class.is-collapsed]="!toggleSidebar()">
  <button class="sidebar__button" (click)="toggleHandle()">
    <i
      [class]="
        toggleSidebar()
          ? 'bi bi-arrow-left-circle-fill'
          : 'bi bi-arrow-right-circle-fill'
      "
    ></i>
  </button>

  <div class="sidebar__menu">
    @for (item of itensMenu; track item.title; let i = $index) {
      <app-nav-item
        [item]="item"
        [index]="i"
        [isCollapsed]="!toggleSidebar()"
        (onExpand)="toggleHandle()"
      />
    }
  </div>
</div>
